wcf-assignment1-console/Connected Services/wcfAssignment1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="primeNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="primeNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumOfDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumOfDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumOfDigitsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>